/*
* @Author: dell
* @Date:   2018-03-17 14:58:25
* @Last Modified by:   dell
* @Last Modified time: 2018-03-17 15:58:26
*/
body{
	 background: #203; 
}
a{
	display: block;
	text-decoration: none;
	font-size: 100px;
	font-family: kockwell;
	color: red;
	transition: 1s;
    text-align: center;
}
a:hover{
	text-shadow: 0 0 10px, 0 0 50px;
	color: #ffc;
	transform: rotateY(360deg);
}
.box{
	width: 150px;
	height: 150px;
	background: white;
	box-shadow: 0 0 0 10px red,0 0 0 20px blue,0 0 10px 30px rgba(0, 0, 0, 0.5) ;
	margin: 100px auto;

}